#sets
Sets are used to store multiple items in a single variable.
set is one of 4 built-in data types in python used to store collections of data,the other 3 are List,Tuple and dictionary all with different qualities and usage.
sets are written with curly brackets

In [1]:
set={"pen","pencil","notebook","scale","book"}
print(set)

{'book', 'pencil', 'pen', 'scale', 'notebook'}

In [4]:
#data type
#String, int and boolean data types:
set1={"pen","pencil","notebook","pen"}
set2={2,4,6,8,10}
set3={"yes","no","yes"}
print(set1)
print(set2)
print(set3)

{'pen', 'pencil', 'notebook'}
{2, 4, 6, 8, 10}
{'no', 'yes'}

In [5]:
#type
s={"pen","pencil","notebook","pen"}
print(type(s))

<class 'set'>

In [6]:
#add()
thisset={"pen","pencil","book"}
thisset.add("notebook")
print(thisset)

{'notebook', 'pen', 'pencil', 'book'}

In [8]:
set={"pen","pencil","notebook"}
mylist=["book","apple"]
set.update(mylist)
print(set)

{'pencil', 'notebook', 'apple', 'pen', 'book'}

In [9]:
#remove()
set={"pen","pencil","notebook"}
set.remove("pencil")
print(set)

{'pen', 'notebook'}

#update()
The update() method inserts all items from one set into another.
The update() changes the original set, and does not return a new set.

In [2]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set1.update(set2)
print(set1)

{'c', 1, 'a', 2, 3, 'b'}

#Join Multiple Sets
All the joining methods and operators can be used to join multiple sets.

When using a method, just add more sets in the parentheses, separated by commas:

In [1]:
set1={"a","b","c","d"}
set2={1,2,3}
set3={"pen","pencil","book"}
myset=set1.union(set2,set3)
print(myset)

{1, 2, 3, 'pen', 'd', 'b', 'c', 'a', 'book', 'pencil'}