In [2]:
import pandas as pd
import numpy as np

# Create a sample DataFrame with missing values
data = {'A': [1, 2, np.nan, 4],
        'B': [5, np.nan, np.nan, 8],
        'C': [np.nan, 10, 11, 12]}
df = pd.DataFrame(data)

In [3]:
# Check for missing values
print("Missing value checking:")
print(df.isnull())

Missing value checking:
       A      B      C
0  False  False   True
1  False   True  False
2   True   True  False
3  False  False  False

In [4]:
# Drop missing values by row
print("\nDropping missing values by row:")
df_drop_row = df.dropna(axis=0)
print(df_drop_row)

Dropping missing values by row:
     A    B     C
3  4.0  8.0  12.0

In [5]:
# Drop missing values by column
print("\nDropping missing values by column:")
df_drop_col = df.dropna(axis=1)
print(df_drop_col)

Dropping missing values by column:
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

In [6]:
# Fill missing values with mean
print("\nFilling missing values with mean:")
df_fill_mean = df.fillna(df.mean())
print(df_fill_mean)

Filling missing values with mean:
          A    B     C
0  1.000000  5.0  11.0
1  2.000000  6.5  10.0
2  2.333333  6.5  11.0
3  4.000000  8.0  12.0

In [7]:
# Fill missing values with median
print("\nFilling missing values with median:")
df_fill_median = df.fillna(df.median())
print(df_fill_median)

Filling missing values with median:
     A    B     C
0  1.0  5.0  11.0
1  2.0  6.5  10.0
2  2.0  6.5  11.0
3  4.0  8.0  12.0