In [3]:
import pandas as pd
#creating a sample DataFrame
data={'Name':['Alice','Bob','charlie','David','Eva'],
      'Age':[24,27,22,32,29],
      'city':['New York','Los Angeles','chicago','Houston','phoenix']
}
df=pd.DataFrame(data)

In [2]:
#selecting columns
#selecting the 'Name' column
name_column=df["Name"]
print(name_column)

0      Alice
1        Bob
2    charlie
3      David
4        Eva
Name: Name, dtype: object

In [4]:
#selecting the 'Name' and 'Age' columns
name_age_columns=df[['Name','Age']]
print(name_age_columns)

      Name  Age
0    Alice   24
1      Bob   27
2  charlie   22
3    David   32
4      Eva   29

In [5]:
#selecting rows
#1.By label('loc'):
#selecting the row with label 1
row_by_label=df.loc[1]
print(row_by_label)

Name            Bob
Age              27
city    Los Angeles
Name: 1, dtype: object

In [6]:
row_by_label=df.loc[2]
print(row_by_label)

Name    charlie
Age          22
city    chicago
Name: 2, dtype: object

In [7]:
#by position('iloc')
#selecting the row at position 2
row_by_position=df.iloc[2]
print(row_by_position)

Name    charlie
Age          22
city    chicago
Name: 2, dtype: object

In [8]:
#selecting subsets
#selecting specific rows and columns by label
subset_by_label=df.loc[1:3,["Name","city"]]
print(subset_by_label)

      Name         city
1      Bob  Los Angeles
2  charlie      chicago
3    David      Houston

In [9]:
#selecting specific rows and columns by position
subset_by_position=df.iloc[1:4,0:2]
print(subset_by_position)

      Name  Age
1      Bob   27
2  charlie   22
3    David   32

In [10]:
#coditional selection
#selecting rows where 'Age' is greater than 25
age_greater_25=df[df['Age']>25]
print(age_greater_25)

    Name  Age         city
1    Bob   27  Los Angeles
3  David   32      Houston
4    Eva   29      phoenix

In [11]:
#selecting rows where 'Age' is greater than 25 and city is 'New York'
conditioned_rows=df[(df['Age']>25)&(df['city']=='New York')]
print(conditioned_rows)

Empty DataFrame
Columns: [Name, Age, city]
Index: []

In [13]:
#column add
#adding a new column 'country' with a constant value
df['country']='USA'
print("\nDataFrame after adding 'column':\n",df)

DataFrame after adding 'column':
       Name  Age         city country
0    Alice   24     New York     USA
1      Bob   27  Los Angeles     USA
2  charlie   22      chicago     USA
3    David   32      Houston     USA
4      Eva   29      phoenix     USA

In [14]:
#Deleting the 'city' column
df=df.drop(columns=['city'])
print("\nDataFrame after deleting 'column':\n",df)

DataFrame after deleting 'column':
       Name  Age country
0    Alice   24     USA
1      Bob   27     USA
2  charlie   22     USA
3    David   32     USA
4      Eva   29     USA

In [15]:
#Deleting the 'city' column
del df['country']
print("\nDataFrame after deleting 'column':\n",df)

DataFrame after deleting 'column':
       Name  Age
0    Alice   24
1      Bob   27
2  charlie   22
3    David   32
4      Eva   29

In [16]:
#updating the 'Age' column to be increased by 1
df['Age']=df['Age']+1
print("\nDataFrame after updating 'Age' column:\n",df)

DataFrame after updating 'Age' column:
       Name  Age
0    Alice   25
1      Bob   28
2  charlie   23
3    David   33
4      Eva   30

In [17]:
#index
#seting 'NAme' as the index
df_with_index=df.set_index('Name')
print("\nDataFrame with 'Name'as the index:\n",df_with_index)

DataFrame with 'Name'as the index:
          Age
Name
Alice     25
Bob       28
charlie   23
David     33
Eva       30

In [19]:
#dropping the index to remove it 
df_no_index=df.reset_index(drop=True)
print("\nDataFrame after removing the index the index:\n",df_no_index)

DataFrame after removing the index the index:
       Name  Age
0    Alice   25
1      Bob   28
2  charlie   23
3    David   33
4      Eva   30

In [20]:
#creating a sample dataFrame
data={
    'A':[10,20,30,40,50],
    'B':[1,2,3,4,5]
}
df=pd.DataFrame(data)
print("original DataFrame:\n",df)

original DataFrame:
     A  B
0  10  1
1  20  2
2  30  3
3  40  4
4  50  5

In [21]:
#Addition
#Adding columns 'A' and 'B'
df['A_plus_B']=df['A']+df['B']
print("\nDataFrame after adding column 'A' and 'B':\n",df)

DataFrame after adding column 'A' and 'B':
     A  B  A_plus_B
0  10  1        11
1  20  2        22
2  30  3        33
3  40  4        44
4  50  5        55

In [22]:
#substraction
#substracting column 'B' from column 'A'
df['A_minus_B']=df['A']-df['B']
print("\nDataFrame after substracting column 'B' from 'A':\n",df)

DataFrame after substracting column 'B' from 'A':
     A  B  A_plus_B  A_minus_B
0  10  1        11          9
1  20  2        22         18
2  30  3        33         27
3  40  4        44         36
4  50  5        55         45

In [23]:
#multiplication
#multiplying colums 'A' and 'B'
df['A_times_B']=df['A']*df['B']
print("\nDataFrame after multiplying column 'A' and 'B':\n",df)

DataFrame after multiplying column 'A' and 'B':
     A  B  A_plus_B  A_minus_B  A_times_B
0  10  1        11          9         10
1  20  2        22         18         40
2  30  3        33         27         90
3  40  4        44         36        160
4  50  5        55         45        250

In [24]:
#division
#dividing colums 'A' and 'B'
df['A_div_B']=df['A']/df['B']
print("\nDataFrame after dividing column 'A' and 'B':\n",df)

DataFrame after dividing column 'A' and 'B':
     A  B  A_plus_B  A_minus_B  A_times_B  A_div_B
0  10  1        11          9         10     10.0
1  20  2        22         18         40     10.0
2  30  3        33         27         90     10.0
3  40  4        44         36        160     10.0
4  50  5        55         45        250     10.0