#DataFrames
Data sets in Pandas are usually multi-dimensional tables, called DataFrames.
Series is like a column, a DataFrame is the whole table.

#What is a DataFrame?
A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.

In [1]:
#Example
#Create a DataFrame from two Series:

import pandas as pd
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}
myvar = pd.DataFrame(data)
print(myvar)

   calories  duration
0       420        50
1       380        40
2       390        45

#Read CSV Files
A simple way to store big data sets is to use CSV files (comma separated files).
CSV files contains plain text and is a well know format that can be read by everyone including Pandas.
In our examples we will be using a CSV file called 'book1.csv'.

In [5]:
#csv file
import pandas as pd
data=pd.read_csv("data.csv")
data

   sr.no. student  rank
0       1       A     1
1       2       B     2
2       3       C     3
3       4       D     4
4       5       E     5
5       6       F     6

In [23]:
#xlsx file
!pip install openpyxl
import pandas as pd 
df=pd.read_excel("C:/Users/SRUSHTI/OneDrive/Desktop/data.xlsx")
print(df)

Requirement already satisfied: openpyxl in c:\users\srushti\anaconda3\lib\site-packages (3.0.10)
Requirement already satisfied: et_xmlfile in c:\users\srushti\anaconda3\lib\site-packages (from openpyxl) (1.1.0)
   sr.no. student  rank
0       1       A     1
1       2       B     2
2       3       C     3
3       4       D     4
4       5       E     5
5       6       F     6

In [18]:
#using matrix
import numpy as np
import pandas as pd
data=np.array([[60,60,60,45],[110,117,103,109],[130,145,135,175],[409,479,340,282]])
df_matrix=pd.DataFrame(data,columns=['Duration','pulse','maxpulse','calories'])
print(df_matrix)

   Duration  pulse  maxpulse  calories
0        60     60        60        45
1       110    117       103       109
2       130    145       135       175
3       409    479       340       282

#Dictionary as JSON
JSON = Python Dictionary
JSON objects have the same format as Python dictionaries.
If your JSON code is not in a file, but in a Python Dictionary, you can load it into a DataFrame directly:

In [3]:
#Example
#Load a Python Dictionary into a DataFrame:

import pandas as pd
data = {
  "Duration":{
    "0":60,
    "1":60,
    "2":60,
    "3":45,
    "4":45,
    "5":60
  },
  "Pulse":{
    "0":110,
    "1":117,
    "2":103,
    "3":109,
    "4":117,
    "5":102
  },
  "Maxpulse":{
    "0":130,
    "1":145,
    "2":135,
    "3":175,
    "4":148,
    "5":127
  },
  "Calories":{
    "0":409,
    "1":479,
    "2":340,
    "3":282,
    "4":406,
    "5":300
  }
}

df = pd.DataFrame(data)

print(df)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406
5        60    102       127       300

In [28]:
!pip install openpyxl
import pandas as pd 
df=pd.read_excel("C:/Users/SRUSHTI/OneDrive/Desktop/Book.xlsx")
print(df)

Requirement already satisfied: openpyxl in c:\users\srushti\anaconda3\lib\site-packages (3.0.10)
Requirement already satisfied: et_xmlfile in c:\users\srushti\anaconda3\lib\site-packages (from openpyxl) (1.1.0)
   x   y    z
0  1  10  100
1  2  20  200
2  3  30  300
3  4  40  400
4  5  50  500